.about {

  display: none;
  /* display: block; */
  opacity: 0;
  transition: opacity .5s ease;
  /* opacity: 1; */
  transform: scale(0);
  transition: transform .5s ease, opacity .5s ease;
}

.about.hidden {
  opacity: 0;
}

.about.visible {
  opacity: 1;
  transform: scale(1);
}

.about.none {
  display: none;
}

.about.block {
  display: block;
}