.catalog {
  display: none;
  opacity: 0;
  margin-top: 40px;
  margin-bottom: 203px;
  transform: scale(0);
  transition: transform .5s ease, opacity .5s ease;
}

.catalog.hidden {
  opacity: 0;
}

.catalog.visible {
  opacity: 1;
  transform: scale(1);
}

.catalog.none {
  display: none;
}

.catalog.block {
  display: block;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  row-gap: 30px;
  /* gap: 48px; */
}

.catalog-list-item {
  width: 31%;
  height: 320px;
  padding: 20px 20px 0 20px;
  display: flex;
  background-color: #E6E6E6;
  justify-content: space-between;
  box-shadow: 0px 4px 80px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.catalog-list-item img {
  width: 40%;
  align-self: end;
}

.catalog-list-item .centered {
  align-self: center
}

.catalog-list-item-btn {
  border: 3px solid var(--red);
  border-radius: 10px;
  padding: 11px 19px 8px;
  font-weight: 700;
  color: var(--red);
}

.catalog-list-item-title {
  font-weight: 500;
  font-size: 48px;
  line-height: 58px;
  color: var(--red);
}

.catalog-list-item-block {
  display: flex;
  align-items: end;
  flex-direction: column;
  justify-content: space-between;
}