.catalogItem {
  display: none;
  opacity: 0;
  margin-top: 40px;
  margin-bottom: 203px;
  transform: scale(0);
  transition: transform .5s ease, opacity .5s ease;
}

.catalogItem.hidden {
  opacity: 0;
}

.catalogItem.visible {
  opacity: 1;
  transform: scale(1);
}

.catalogItem.none {
  display: none;
}

.catalogItem.block {
  display: block;
}

.catalog-item-main {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.catalog-item-main-img {
  width: 11%;
  /* box-shadow: 0px 4px 80px rgba(0, 0, 0, 0.2); */
  /* background-color: rgba(45, 44, 44, 0.4); */
  /* filter: blur(50.5px); */
}

.catalog-item-main-info {
  align-self: center;
  width: 75%;
}

.catalog-item-main-title {
  line-height: 57px;
  width: 23%;
  color: var(--red);
  border-bottom: 1px solid var(--red);
  margin-bottom: 16px;
}

.catalog-item-main-desc {
  list-style-type: circle;
  color: var(--black);
  /* line-height: 40px; */
}

.catalog-item-main-desc li {
  margin-bottom: 10px;
}

.catalog-item-table {
  margin: 0 auto;
}


.catalog-item-table-row {
  display: grid;
  text-align: center;
  align-items: end;
  grid-template-columns: 12% 8% 12% 7% 11% 9% 20% 12% 6%;
  color: var(--grey);
  margin-bottom: 16px;
}

.catalog-item-table-row-thead {
  font-weight: 700;
  padding-bottom: 5px;
  margin-bottom: 11px;
  border-bottom: 1px solid var(--red);
  transition: .3s ease;
}

.open-size {
  background: var(--grey-light);
  border-radius: 2px;
  font-weight: 700;
  padding: 20px 0 96px;
  position: relative;
}

.catalog-size-row {
  cursor: pointer;
}

.open-btn {
  display: none;
  position: absolute;
  right: 1%;
  bottom: 19%;
  margin-top: 25px;
  border: 3px solid var(--red);
  border-radius: 10px;
  padding: 10px 20px;
  color: var(--red);
  font-weight: 700;
  text-transform: uppercase;
  transition: .3s ease;
}

.open-btn.visible {
  display: block;
  ;
}

.open-btn-add:hover {
  background-color: var(--red);
  color: var(--grey);
}

.open-btn-add:active {
  background-color: var(--dark-red);
  color: var(--grey);
  border-color: var(--dark-red);
}

.open-btn-add:focus-visible {
  background-color: var(--red);
  color: var(--grey);
}

.open-btn-incart {
  padding: 0;
  color: #4D7D36;
  border: 3px solid #4D7D36;
}

.open-btn-incart a {
  padding: 10px 20px;
  padding-right: 44px;
  width: 100%;
  height: 100%;
  display: block;
}

.open-btn-incart::before {
  position: absolute;
  right: 23%;
  top: 42%;
  height: 10px;
  width: 3px;
  background-color: #4D7D36;
  content: "";
  transform: translateX(10px) rotate(-45deg);
  transform-origin: left bottom;
  transition: background-color .3s ease;
}

.open-btn-incart::after {
  position: absolute;
  right: 14%;
  bottom: 34%;
  height: 3px;
  width: 16px;
  background-color: #4D7D36;
  content: "";
  transform: translateX(10px) rotate(-45deg);
  transform-origin: left bottom;
  transition: background-color .3s ease;
}

.open-btn-incart:hover,
.open-btn-incart:focus-visible {
  color: var(--grey);
  background-color: #4D7D36;
}

.open-btn-incart:hover::before,
.open-btn-incart:hover::after,
.open-btn-incart:focus-visible::before,
.open-btn-incart:focus-visible::after {
  background-color: var(--grey);
}

.open-btn-incart:active {
  color: var(--grey);
  background-color: #395E28;
  border-color: #395E28;
}

.open-btn-incart:active::before,
.open-btn-incart:active::after {
  background-color: var(--grey);
}

.open-btn-out {
  color: var(--grey-light3);
  border: 3px solid var(--grey-light3);
}

.open-btn-out:hover {
  background-color: var(--white);
  color: var(--red);
  border-color: var(--white);
}

.open-btn-out:focus-visible {
  background-color: var(--white);
  color: var(--red);
  border-color: var(--white);
}

.open-btn-out:active {
  background-color: var(--grey-light2);
  color: var(--red);
  border-color: var(--grey-light2);
}