.catalogItem {
  display: none;
  opacity: 0;
  margin-top: 40px;
  margin-bottom: 203px;
  transform: scale(0);
  transition: transform .5s ease, opacity .5s ease;
}

.catalogItem.hidden {
  opacity: 0;
}

.catalogItem.visible {
  opacity: 1;
  transform: scale(1);
}

.catalogItem.none {
  display: none;
}

.catalogItem.block {
  display: block;
}

.catalog-item-main {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.catalog-item-main-img {
  width: 11%;
  /* box-shadow: 0px 4px 80px rgba(0, 0, 0, 0.2); */
  /* background-color: rgba(45, 44, 44, 0.4); */
  /* filter: blur(50.5px); */
}

.catalog-item-main-info {
  align-self: center;
  width: 75%;
}

.catalog-item-main-title {
  line-height: 57px;
  width: 23%;
  color: var(--red);
  border-bottom: 1px solid var(--red);
  margin-bottom: 16px;
}

.catalog-item-main-desc {
  list-style-type: circle;
  color: var(--black);
  /* line-height: 40px; */
}

.catalog-item-main-desc li {
  margin-bottom: 10px;
}

.catalog-item-table {
  margin: 0 auto;
}


.catalog-item-table-row {

  display: grid;
  text-align: center;
  align-items: end;
  grid-template-columns: 12% 8% 12% 7% 11% 9% 20% 12% 6%;
  color: var(--grey);
  margin-bottom: 16px;
}

.catalog-item-table-row-thead {
  font-weight: 700;
  padding-bottom: 5px;
  margin-bottom: 11px;
  border-bottom: 1px solid var(--red);
}