.header {
  padding-top: 44px;
  margin-bottom: 40px;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav-list {
  display: flex;
  gap: 16px;
}

.header-nav-list-item {
  position: relative;
  text-transform: uppercase;
}

.header-nav-list-item-link {
  position: relative;
}

.header-nav-list-item-link::before {
  position: absolute;
  content: '';
  height: 2px;
  width: 100%;
  background-color: var(--red);
  bottom: -30%;
  opacity: 0;
  transition: opacity .3 ease;
}

.header-nav-list-item-link.active::before {
  opacity: 1;
}

.header-nav-list-item:last-child {
  padding-left: 45px;
  position: relative;
}

.header-nav-list-item:last-child::before {
  position: absolute;
  content: '';
  top: 18%;
  left: 24%;
  width: 4px;
  height: 60%;
  background-color: var(--red);
}

.header-links {
  gap: 4px;
  display: flex;
  flex-direction: column;
}

.header-links-item {
  color: var(--red);
}

.cart-count {
  opacity: 0;
  padding: 1px 6px;
  content: '';
  position: absolute;
  top: -23px;
  right: -19px;
  background-color: var(--red);
  color: var(--white);
}

.cart-count.visible {
  opacity: 1;
}