.service {
  display: none;
  /* display: block; */
  opacity: 0;
  display: none;

  transform: scale(0);
  transition: .5s ease;
  /* opacity: 1; */
}

.service.hidden {
  opacity: 0;
}

.service.visible {
  opacity: 1;
  transform: scale(1);
}

.service.none {
  display: none;
}

.service.block {
  display: block;
}